@charset "utf-8";
/* CSS Document */

h1{
	color:aqua;
}

.bodyx{
	background-color: dimgray;
}
#californiaAll{
  	max-width: 80%;
 	height: 0px;
	
}
#californiamineral{
  	max-width: 80%;
 	height: 0px;
	
}
#californiaSG{
  	max-width: 80%;
 	height: 0px;
	
}
#montanaAll{
  	max-width: 80%;
 	height: 0px;
	
}
#montanamineral{
  	max-width: 80%;
 	height: 0px;
	
}
#montanaSG{
  	max-width: 80%;
 	height: 0px;
	
}
.hide{
	height: 0px;
}
