@charset "utf-8";
/* CSS Document */

h1{
	color:aqua;
}
li{
 font-weight: 500;
}
a{
	font-weight: 350;
}

#statetable{
	font-size: 0px;
}

.bodyx{
	background-color: dimgray;
}
#cat{
	max-width: 70%;
 	height: auto;
	opacity: 1.0;
}

.hide{
	height: 0px;
}
label{
	color:white
}
